:root {
    --color-black: #000;
    --color-white: #FFF;
    --color-gray: #545050;
    --color-dark: #1B1919;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-black);
    background-color: var(--color-white);
    font-family: Raleway;
    font-weight: 400;
    line-height: 1.2;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 92px;
}

.header-menu {
    justify-self: start;
}

.header-links-list {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.header-links-list-item {
    border-bottom: 1px solid transparent;
}

.header-links-list-item:not(.header-links-list-item-no-bullit) {
    list-style-type: circle;
}

.header-links-list-item-no-bullit {
    list-style-type: none;
}

.header-link {
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 4px;
}

.header-link-active {
    border-bottom: none;
    padding-bottom: 0;
}

.header-logo {
    display: block;
    width: 148px;
    height: 105px;
}

.header-logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-address {
    justify-self: end;
    font-style: normal;
    line-height: 1.35;
    max-width: 240px;
}

.address {
    font-size: 18px;
	font-style: normal;
}

.address a {
    border-bottom: 1px solid currentColor;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
}

.cover {
    position: relative;
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 757px;
    color: var(--color-white);
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.cover-title {
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-bottom: 135px;
}

.aligned-text {
    display: block;
    line-height: 1;
}

.aligned-text-center {
    text-align: center;
    margin: 20px 0;
}

.aligned-text-right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover-description {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 78px;
}

.cover-description-text {
    font-size: 22px;
    line-height: 1.27;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    background-color: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    font-size: 22px;
    text-transform: uppercase;
    padding: 12px 32px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 400;
}

.lots {
    padding: 180px 50px;
}

.lots-heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
    padding-left: 40px;
}

.lots-card-list {
    display: flex;
    gap: 25px;
    list-style-type: none;
    margin-bottom: 30px;
    flex-wrap: nowrap;
}

.lots-card-list-item {
    flex: 1;
    min-height: 450px;
    min-width: 0;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    height: 100%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-white);
    z-index: 1;
}

.card-type-film {
    background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
    background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
    z-index: 2;
    position: relative;
}

.card-text {
    font-size: 20px;
    line-height: 1.2;
    z-index: 2;
    position: relative;
}

.lots-look-more-link {
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 3px;
    margin-left: 40px;
    display: inline-block;
}

.about {
    padding: 0 50px 180px;
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
}

.about-column {
    display: flex;
    flex-direction: column;
}

.about-logo {
    width: 240px;
    height: 240px;
    background-color: var(--color-black);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.about-logo-image {
    width: 148px;
    height: 114px;
    object-fit: contain;
}

.about-title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 100px 0;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    line-height: 1.2;
}

.footer {
    padding: 0 50px 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}

.footer-menu {
    justify-self: center;
}

.footer-menu-list {
    list-style-type: none;
    text-align: center;
}

.footer-menu-list-item {
    margin-bottom: 0;
}

.footer-menu-link {
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

.footer-menu-link-active {
    border-bottom: none;
    padding-bottom: 0;
}

.footer-social-list {
    display: flex;
    gap: 48px;
    list-style-type: none;
    justify-self: end;
}

.footer-social-link {
    display: block;
    width: 48px;
    height: 48px;
}

.footer-social-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}